<div class="card mx-auto">
    <div class="card-header bg-white text-center">
      <h5 style="color: black">Cargar Artículo</h5>
    </div>
    <form action="/cargar-articulo">
        <div class="card-body">
            <div class="entrada mb-3">
                <select class="form-select" aria-label="Default select example">
                    <i class="fa-solid fa-landmark" style="color: #000000;"></i>
                    <option selected>Tipo de Subsistema</option>
                    <option value="1">Universidad Tecnológica</option>
                    <option value="2">Universidad Politécnica</option>
                    <option value="3">Instituto Tecnológico</option>
                </select>
            </div>
            <div class="entrada mb-3">
                <i class="fa-solid fa-book fa-beat-fade" style="color: #000000;"></i>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Título del Artículo">
            </div>
            <div class="entrada mb-3">
                <i class="fa-solid fa-circle-user fa-beat-fade" style="color: #000000;"></i>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Autor">
            </div>
            <div class="entrada mb-3">
                <i class="fa-solid fa-book-open fa-beat-fade" style="color: #000000;"></i>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Breve descripción del artículo"></textarea>
            </div>
            <div class="entrada mb-3">
                <i class="fa-regular fa-file-lines fa-beat-fade" style="color: #000000;"></i>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
  </form>
  </div>